<%= form_for :item do |f| %>
	<p>
		<%= f.label :name %><br>
		<%= f.text_field :name %>
	</p>
    <p>
	    <%= f.label :price %><br>
	    <%= f.number_field :price %>
	</p>
    <p>
        <%= f.submit %>
	</p> 
<% end %>
